*{
  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
  }
.upperbar{
    position: absolute;
    background-color: rgb(10, 0, 0);
    width: 100%;
    margin: auto;
    height: 80px;
    box-sizing: border-box;
    padding: 20px;
    
}
.upperbar h1{
    top: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
    color: white;

}
.upperbar .logo{
    position: absolute;
    top: 0%;
    left: 10%;
    width: 70px;
    height: 70px;
    padding: 5px;
}
.scope1{
    position: absolute;
    top: 15%;
    height: 25%;
    width: 80%;
    left: 15%;
    box-sizing: border-box;
    border: 6px solid rgb(250, 3, 3);
    border-radius: 6px;
}
.scope2{
    position: absolute;
    top: 43%;
    height: 25%;
    width: 80%;
    right: 15%;
    box-sizing: border-box;
    border: 6px solid rgb(3, 19, 138);
    border-radius: 6px;
}
.scope3{
    position: absolute;
    top: 71%;
    height: 25%;
    width: 80%;
    left: 15%;
    box-sizing: border-box;
    border: 6px solid rgb(6, 83, 12);
    border-radius: 6px;
}
.scope1 .img1{
    position: absolute;
    top: 10%;
    height: 82%;
    right: 2%;
    width: 20%;
}
.scope1 .toolimg{
    position: absolute;
    top: 20%;
    height: 50%;
    left: -13%;
    width: 10%;
}
.scope2 .img2{
    position: absolute;
    top: 10%;
    height: 82%;
    left: 2%;
    width: 20%;
}
.scope2 .toolimg1{
    position: absolute;
    top: 10%;
    height: 70%;
    right: -17%;
    width: 14%;
}
.scope3 .img3{
    position: absolute;
    top: 10%;
    height: 82%;
    right: 2%;
    width: 20%;
}
.scope3 .toolimg2{
    position: absolute;
    top: 2%;
    height: 80%;
    left: -15%;
    width: 10%;
}
.scope1 p{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.scope2 p{
    position: absolute;
    top: 10%;
    right: 9%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.scope3 p{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
