*{
  
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}
body{
    background-color: white;
}
.upperbar{
    position: absolute;
    background-color: rgb(10, 0, 0);
    width: 100%;
    margin: auto;
    height: 80px;
    box-sizing: border-box;
    padding: 20px;
    
}
.upperbar h1{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
text-align: center;
color: white;

}
.upperbar .logo{
position: absolute;
top: 10%;
left: 10%;
width: 70px;
height: 70px;
padding: 5px;
/*font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color:  rgb(10, 0, 0);
border: 4px solid white;
border-radius: 4px;*/

}
.upperbar .btn2{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(10, 0, 0);
    border: 4px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.navigation{
    position: absolute;
    display: flex;
    top: 13%;
    width: 100%;
    background-color: rgb(215, 65, 11);
    
}
.nav_list{
    display: flex;
}
.nav_list li{
    list-style: none;
    padding: 26px 30px;
    cursor: pointer;
}
.nav_list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.nav_list li:hover{
    list-style: none;
    padding: 26px 30px;
    background-color: rgb(10, 0, 0);
    cursor: pointer;
}
.rightnav{
    position: absolute;
    top: 30%;
    width: 30%;
    right: 5%;
}
.navigation .btn3{
    position: absolute;
    top: -3px;
    right: 5%;
    width: 100px;
    padding: 5px;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(215, 65, 11);
    border: 4px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
#search{
    padding: 7px;
    font-size: 15px;
    right: 10%;
    border: 2px solid black;
    width: 67%;
    border-radius: 2px;
}
.bestdeals{
    position: absolute;
    top: 25.5%;
    width: 100%;
    height: 370px;
    background-color: white;
    border: 4px solid rgb(10, 0, 0);
}
.bestdeals h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgb(10, 0, 0);
    text-align: center;
    padding-top: 10px;
}
.mySlides{
    width: 800px;
    height: 300px;
    position: absolute;
    left: 20%;
}
.bestdeals .leftbtn{
    width: 100px;
    height: 70px;
    position: absolute;
    left: 7%;
    top: 40%;
    border: 4px solid rgb(10, 0, 0);
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
}
.bestdeals .rightbtn{
    width: 100px;
    height: 70px;
    position: absolute;
    right: 7%;
    top: 40%;
    border: 4px solid rgb(10, 0, 0);
    border-radius: 4px;
    font-size: 30px;
    cursor: pointer;
}
.ending{
    position: absolute;
    top: 85%;
    height: fit-content;
    background-color: rgb(6, 21, 43);
    width: 100%;
}
.ending p{
    padding: 7px;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}