<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clusters</title>
    <link rel="stylesheet" href="/static/style1.css">
    
    <script src="/static/script1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="Upperbar">
    <a href="/"><img class="logo" src="/static/src/bug-logo1.jpg" alt="logo of website"></a>
    <h3>Clusters</h3>
    <form action="/cluster/run" method="post" enctype="multipart/form-data">
        <input type="file" class="btn1" name="csv_file" accept=".csv" >
        <input type="submit" class="btn2" value="Run" >
    </form>
</div>
<div class="products">
    
    
    <button class="p1">Cluster 1 </button>
    <input class="clus1" type="text" name="clus1" id="clus1" placeholder = "No. of clusters" value= "{{ err_count_arr }}"></input>
    <textarea class="desc1" type="text" name="desc1" id="desc1" placeholder = "List of Errors">{{ result }}</textarea>
    <button class="p2">Cluster 2 </button>
    <input class="clus2" type="text" name="clus2" id="clus2" placeholder = "No. of clusters"></input>
    <textarea class="desc2" type="text" name="desc2" id="desc2" placeholder = "List of Errors"></textarea>
    <button class="p3">Cluster 3 </button>
    <input class="clus3" type="text" name="clus3" id="clus3" placeholder = "No. of clusters"></input>
    <textarea class="desc3" type="text" name="desc3" id="desc3" placeholder = "List of Errors"></textarea>
    <button class="p4">Cluster 4 </button>
    <input class="clus4" type="text" name="clus4" id="clus4" placeholder = "No. of clusters"></input>
    <textarea class="desc4" type="text" name="desc4" id="desc4" placeholder = "List of Errors"></textarea>
    <button class="p5">Cluster 5 </button>
    <input class="clus5" type="text" name="clus5" id="clus5" placeholder = "No. of clusters"></input>
    <textarea class="desc5" type="text" name="desc5" id="desc5" placeholder = "List of Errors"></textarea>
    <button class="p6">Cluster 6 </button>
    <input class="clus6" type="text" name="clus6" id="clus6" placeholder = "No. of clusters"></input>
    <textarea class="desc6" type="text" name="desc6" id="desc6" placeholder = "List of Errors"></textarea>
</div>
</body>
</html>