<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Errors Test</title>
    <link rel="stylesheet" href="/static/style_new.css">
    
    <script src="/static/script1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="Upperbar">
    <a href="/"><img class="logo" src="/static/src/bug-logo1.jpg" alt="logo of website"></a>
    <h3>New Errors Test</h3>
    
        <input type="file" class="btn1" name="txt_file" accept=".txt" >
        <input type="file" class="btn2" name="txt_file_err" accept=".txt" >
        <input type="submit" class="btn2" value="Run" >
    
</div>
<div class="error_display">
    <textarea class="class1" type="text" name="class1" id="class1" placeholder = "Errors Classified"></textarea>
</div>
<div class="code_display">
    <textarea class="code1" type="text" name="code1" id="code1" placeholder = "Code to Debug"></textarea>
    <textarea class="code2" type="text" name="code2" id="code2" placeholder = "Errors highlighted in the code"></textarea>
</div>
</body>
</html>