<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Scope</title>
    <link rel="stylesheet" href="style_scope.css">
    <script src="script2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="upperbar">
       <h1>Future Scope</h1>
       <a href="buganalyzer.html"><img class="logo" src="bug-logo1.jpg" alt="logo of website"></a>
        
    </div> 
        
    <div class="scope1">
        <p>As this is unsupervised learning, choosing the clustering model will be <br>
            a big task which will be most efficient. It will involve trying out <br> 
            different models, tuning the hyperparameters and select the correct model to go.
        </p>
        <img class="img1" src="mlimg.jfif" alt="logo of website">
        <img class="toolimg" src="toolsimg.jfif" alt="logo of website">
    </div>
    <div class="scope2">
        <p>Few difficulties or obstacles such as one coding error can give rise <br>
            to multiple errors and therefore clustering the errors into groups <br>
            may not give information about this relations between different errors<br>
            which will make it difficult to backtrack and trace the actual problem.<br>
            This will be a part to work on in the later stage.
        </p>
        <img class="img2" src="errimg.jfif" alt="logo of website">
        <img class="toolimg1" src="toolsimg2.jfif" alt="logo of website">
    </div>
    <div class="scope3">
        <p>If error clustering can be done efficiently or the error groups can be identified,<br>
            then we can work towards building a suggestion model to these separate error<br>
            groups which just guide how to debug a particular kind of errors.
        </p>
        <img class="img3" src="errsol.jfif" alt="logo of website">
        <img class="toolimg2" src="toolsimg3.jfif" alt="logo of website">
    </div>   

    
</body>
</html>